body {
  background: rgb(202, 173, 173);
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: rgb(92, 94, 190);
  margin: 8px auto;
  padding: 8px;
}

.title {
  background: #4392c7;
  font-size: 16px;
  margin:auto;
  padding: 8px;
}

.content {
  background: #4392c7;
  margin: 8px auto;
  padding: 16px 8px;
}

.button-container {
  background: #4392c7;
  padding: 8px;
  text-align: center;

}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0px auto;
  padding: 8px 24px;
}